body {
  background: #f9f8fe;
}

a {
  color: #9670f4;
}

.App {
  max-width: 900px;
  margin: 0 auto;
}

.footer {
  text-align: center;
  margin: 30px 0;
}

.App-header {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
}
